html{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
}

.choices {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

#score {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#container2 {
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#playerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    width: 100px;
    height: 100px;
    
}

#playerScore, #compScore {
    font-size: 28px;
    margin: 0;
}



#compBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    width: 100px;
    height: 100px;
}

.name {
    text-decoration: underline;
    font-weight: bold;
}